
<footer class="space">
    <div class="container-fluid p-5">
      <div class="row text-left">
        <div class="col-lg-3 col-md-5 col-sm-12">
          <!-- <h1 class="text-light">About Us</h1> -->
          
          <span><center><img src="../Images/logo3.png" class="w-75" alt=""></center></span>
          <br/><br/>
          <p class="text-white">
            Extreme service by prioritizing the safety and security of patientsExtreme service by prioritizing the safety and security of patients
          </p>
            <div class="column socials text-muted">
            <i class="fa-brands fa-facebook text-white"></i>
            <i class="fa-brands fa-instagram text-white"></i>
            <i class="fa-brands fa-twitter text-white"></i>
            <i class="fa-brands fa-youtube text-white"></i>
          </div>

         
        </div>

        <!-- <div class="col-lg-3 col-md-3 col-sm-12">

        </div> -->
        <div class="col-lg-7 col-md-7 col-sm-12 mx-auto ">
          <!-- <h4 class="text-light">Follow Us</h4>
          <p class="text-muted">Let Us Be Social</p>
          <div class="column text-muted">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
          </div> -->
          <ul >
  <div class="d-flex move">
            <li class="flex-fill"><a href="landing-index.html">Home</a></li>
            <li class="flex-fill" ><a href="landing-index.html#about">About Us </a></li>
            <li class="flex-fill"><a href="resources.html">Services</a></li>
            <li class="flex-fill"><a href="#">Pharmacies</a></li>
            </div>
            <br>
            <div class="d-flex">
            <li class="flex-fill"><a href="#">Patient's review</a></li>
            <li class="flex-fill"><a href="#">Terms and conditions</a></li>
            <li class="flex-fill"><a href="#">Privacy Policy</a></li>
            </div>
          </ul>
          <div class="letter">
         <h4 class="text-white">Newsletter</h4>
          <p class="text-white">Stay Updated</p>
          <!-- create an inline form for email -->
          <form action="#" class="form-inline">
            <div class="col pt-0">
              <div class="input-group ">
                <input type="email" class="form-control bg-dark text-white " placeholder="Email"> 
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <!-- generate arrow right with font awesome -->
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
            
          </div>
        </div>
      </div>
    </div>

  </footer>